.navbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 66%;
  background-color: #7f357e;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  padding: 1% 7%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease;
}

.nav-left,
.nav-right {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.logo-container img {
  margin-top: 5%;
  height: 27px;
  width: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.nav-item {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 0;
}

.nav-item:hover,
.nav-item.active {
  color: #fff;
}

.nav-item span {
  position: relative;
  display: inline-block;
}

.nav-item span::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #ffffff;
  transition: width 0.3s ease;
  border-radius: 2px;
}

.nav-item.active span::after {
  width: 100%;
}

.nav-right {
  display: flex;
  gap: 7px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.social-link img {
  height: 25px;
  object-fit: contain;
  transition: all 0.3s ease;
}

.social-link img:hover {
  transform: scale(1.19);
}

@media (max-width: 900px) {
  .navbar {
    width: 88%;
    padding: 3% 5%;
  }

  .logo-container img {
    display: none;
  }

  .nav-right {
    display: none;
  }

  .nav-item {
    font-size: 11px;
  }
}
