/* === BUTLER FONT FAMILY === */
@font-face {
  font-family: "Butler-Black";
  src: url("/fonts/Butler_Black.otf") format("opentype");
}

/* === TECHNIQUE FONT FAMILY === */
@font-face {
  font-family: "TECHNIQUE";
  src: url("/fonts/TECHNIQUE.otf") format("opentype");
}
/* === TECHNIQUE-Light FONT FAMILY === */
@font-face {
  font-family: "TECHNIQUE-Light";
  src: url("/fonts/TECHNIQUE-Light.otf") format("opentype");
}

/*====== Gill Sans =====*/
@font-face {
  font-family: "Gill Sans";
  src: url("/fonts/Gill Sans.otf") format("opentype");
}
@font-face {
  font-family: "Butler-Bold";
  src: url("/fonts/Butler_Bold.otf") format("opentype");
}
@font-face {
  font-family: "Butler-ExtraBold";
  src: url("/fonts/Butler_ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Butler-Light";
  src: url("/fonts/Butler_Light.otf") format("opentype");
}
@font-face {
  font-family: "Butler-Medium";
  src: url("/fonts/Butler_Medium.otf") format("opentype");
}
@font-face {
  font-family: "Butler-Regular";
  src: url("/fonts/Butler_Regular.otf") format("opentype");
}
@font-face {
  font-family: "Butler-UltraLight";
  src: url("/fonts/Butler_Ultra_Light.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  background-color: #d05aff;
  color: #ffffff;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d05aff;
}
